@import "abstracts/variables.css";

@import "base/base.css";
@import "base/utilities.css";
@import "base/typography.css";
@import "base/animations.css";

@import "components/button.css";
@import "components/slider.css";
@import "components/navbar.css";
@import "components/showcase.css";
@import "components/grid.css";
@import "components/image.css";
@import "components/testimonial.css";
@import "components/initiative.css";
@import "components/member.css";
@import "components/popup.css";

@import "layout/header.css";
@import "layout/footer.css";

@import "pages/home.css";