.footer {
    height: 45rem;
    padding: 4rem;
    position: relative;
    background: var(--color-dark);
}
    
.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
    
.footer__logo--img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--color-white);
    display: grid;
    place-items: center;
}
    
.footer__logo--img p {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-dark);
    font-family: "Playfair Display";
}

.footer__logo--name {
    font-family: sans-serif, Verdana;
    color: var(--color-white);
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-left: 0.5rem;
}

.footer__links {
    text-align: center;
    margin-top: 3rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.footer__links li a {
    color: var(--color-white);
}

.footer__links li:not(:last-child) {
    margin-bottom: 0.8rem;
}
    
.footer__sm {
    width: 25rem;
    margin: 2rem auto 0;
    display: flex;
    justify-content: space-between;
}

.footer__sm li {
    width: 4.5rem;
    height: 4.5rem;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.footer__sm li a {
    font-size: 2rem;
    color: var(--color-white);
}

.footer__mail {
    text-align: center;
    color: var(--color-white);
    margin-top: 1.5rem;
}

.footer__lower {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}