.header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, .65), 
                    rgba(40, 180, 133, .65));
}

.hero {
    position: absolute;
    top: 40%;
    left: 22%;
    transform: translate(-40%, -22%);
    width: 50%;
    padding: 5rem;
}

.hero__img {
    height: auto;
    width: 50rem;
    position: absolute;
    bottom: 0;
    right: 10%;
    transform: translateX(10%);
}

.hero__title {
    font-family: 'Playfair Display', sans-serif, Verdana;
    font-size: 6.5rem;
    line-height: 1.3;
    font-weight: 700;
}

.hero__description {
    font-family: 'Roboto', sans-serif, Verdana;
    font-weight: 300;
    font-size: 1.8rem;
    font-style: italic;
}



/* Media Query */
@media(max-width: 1500px) {
    .hero {
        top: 35%;
        transform: translate(-35%, -22%);
        padding: 4rem;
    }
    
    .hero {
        width: 45%;
    }

    .hero__img {
        width: 48rem;
    }
    
    .hero__title {
        font-size: 5.5rem;
    }
    
    .hero__description {
        width: 85%;
    }     
}

@media(max-width: 1400px) {
    .hero__title {
        font-size: 4.5rem;
    }

    .hero {
        width: 40%;
    }

    .hero__description {
        width: 95%;
    }
}

@media(max-width: 1300px) {
    .hero__title {
        font-size: 4rem;
    }

    .hero {
        top: 25%;
        left: 15%;
        transform: translate(-25%, -15%);
        width: 50%;
    }

    .hero__description {
        width: 90%;
    }
}

@media(max-width: 960px) {
    .hero {
        top: 25%;
        left: 15%;
        transform: translate(-25%, -15%);
        width: 60%;
    }

    .hero__img {
        height: auto;
        width: 45rem;
        position: absolute;
        bottom: 0;
        right: 8%;
        transform: translateX(8%);
    }
}

@media(max-width: 930px) {
    .hero__img {
        width: 43rem;
    }
}

@media(max-width: 850px) {
    .header {
        overflow: hidden;
    }

    .hero {
        top: 15%;
        left: 10%;
        transform: translate(-15%, -10%);
        width: 60%;
    }

    .hero__img {
        height: auto;
        width: 100rem;
        position: absolute;
        bottom: -55%;
        right: -55%;
        /* transform: translate(55%, 55%);    */
    }
}

@media(max-width: 820px) {
    .hero {
        top: 10%;
        left: 8%;
        transform: translate(-10%, -8%);
        width: 80%;
    }

    .hero__img {
        height: auto;
        width: 30rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width: 600px) {
    .hero {
        top: 10%;
        left: 8%;
        transform: translate(-10%, -8%);
        width: 90%;
    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__img {
        height: auto;
        width: 30rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width: 500px) {
    .hero {
        width: 100%;
    }

    .hero__description {
        width: 100%;
    }

    .hero__img {
        /* display: none; */
    }
}

@media(max-width: 400px) {
    
    .hero {
        top: 50%;
        left: 8%;
        transform: translate(-10%, -50%);
        width: 100%;
        text-align: justify;
    }

    .hero__img {
        display: none;
    }

    .hero__description {
        width: 100%;
    }

}