@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    line-height: 1.7;
    font-size: 1.6rem;
    font-family: 'Open Sans', 'sans-serif', Verdana;
    font-weight: 400;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}