.heading-primary {
    text-align: center;
    font-family: 'Playfair Display', sans-serif, Verdana;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.3;
    position: relative;
    display: inline-block;
}

/* .heading-primary::after {
    position: absolute;
    content: "";
    border: 8px solid rgba(40, 180, 133, .34);
    border-radius: 20rem;
    left: -1rem;
    right: -1rem;
    bottom: 1rem;
} */

.paragraph {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif, Verdana;
    width: 80%;
    margin: 0 auto; 
    text-align: justify;
}

.heading-container {
    padding: 7rem 7rem 10rem 7rem;
    display: flex;
    justify-content: center;
}

/* Media Query */
@media(max-width: 1100px) {
    .heading-primary {
        font-size: 4.5rem;
    }
}

@media(max-width: 950px) {
    .heading-primary {
        font-size: 4rem;
    }
}

@media(max-width: 760px) {
    .heading-primary {
        font-size: 3.2rem;
    }
}

@media(max-width: 630px) {
    .heading-primary {
        font-size: 2.5rem;
    }
}