/* About section image */
.about__img {
    width: 100rem;
    height: 60rem;
    margin: 7rem auto 0;
    background-image: url(../../img/about_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Testimonial pics */
.img {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    border: 5px solid var(--color-tertiary-light);
    margin: 0 auto;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, .1);
    position: relative;
}

.img__one {
    background-image: url(../../img/01testimonial.jpeg);
    background-position: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}   

.img__two {
    background-image: url(../../img/02testimonial.jpg);
    background-position: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.img__three {
    background-image: url(../../img/03testimonial.jpg);
    background-position: center;
    background-size: cover;
}

/* Media Query */
@media(max-width: 1100px) {
    .about__img {
        width: 80rem;
        height: 45rem;
    }
}

@media(max-width: 950px) {
    .about__img {
        width: 60rem;
        height: 35rem;
    }
}

@media(max-width: 650px) {
    .about__img {
        width: 50rem;
        height: 30rem;
        margin: 4rem auto 0;
    }
}

@media(max-width: 530px) {
    .about__img {
        width: 40rem;
        height: 25rem;
        margin: 4rem auto 0;
    }
}

@media(max-width: 410px) {
    .about__img {
        width: 30rem;
        height: 20rem;
        margin: 4rem auto 0;
    }
}