.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.8rem 9rem;
    border-bottom: 1px solid var(--color-dark);
}

.navbar__title {
    font-family: 'Roboto', sans-serif, Verdana;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}


/* Media Query */
@media(max-width: 1500px) {
    .navbar {
        padding: 0.8rem 14rem;
    }
}

@media(max-width: 1300px) {
    .navbar {
        padding: 0.8rem 8rem;
    }
}

@media(max-width: 960px) {
    .navbar {
        padding: 0.8rem 4.6rem;
    }
}

@media(max-width: 600px) {
    .navbar {
        padding: 0.8rem 3.5rem;
    }
}