.showcase {
    background: var(--color-white);
    height: 50rem;
    width: 35rem;
    /* margin: 0 auto; */
    position: relative;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.15);
}
    
.showcase:not(:last-child) {
        margin-right: 16rem;
}

.showcase::before {
    content: "";
    position: absolute;
    width: 30rem; 
    height: 48rem;
    left: -5rem;
    top: -4.5rem;
    background-image: radial-gradient(var(--color-dark) 10%, transparent 10%);
    background-color: var(--color-dirty);
    background-position: 0 0, 2rem 2rem;
    background-size: 1.2rem 1.2rem;
    z-index: -1;
}

.showcase__img {
    height: 23rem;
    -webkit-background-blend-mode: screen;
    background-blend-mode: screen;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.showcase__img--one {
    background-image: 
        linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)), url(../../img/mission.jpg);
}

.showcase__img--two {
    background-image: 
        linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)), url(../../img/vision.jpg);
}

.showcase__img--three {
    background-image: 
        linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)), url(../../img/purpose.jpg);
}

.showcase__img--four {
    background-image: 
        linear-gradient(to right bottom, rgba(255, 184, 140, 0.85), rgba(222, 98, 98, 0.85)), url(../../img/values.jpg);
}

.showcase__title {
    font-size: 3rem;
    width: 50%;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
}
.showcase__title--one {
    background-image: 
        linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.showcase__title--two {
    background-image: 
        linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; 
}

.showcase__title--three {
    background-image: 
        linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.showcase__title--four {
    background-image: 
        linear-gradient(to right bottom, rgba(255, 184, 140, 0.85), rgba(222, 98, 98, 0.85));
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.showcase__info {
    height: 27rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    text-align: center;
    position: relative;
}

.showcase__info::before {
    content: "\0275D";
    position: absolute;
    font-size: 10rem;
    font-weight: bold;
    color: var(--color-grey);
    top: -1.5rem;
    left: 1rem;
}

/* Media query */
@media(max-width: 1100px) {
    .showcase:not(:last-child) {
        margin-right: 0rem;
        margin-bottom: 10rem;
    }
}

@media(max-width: 450px) {
    .showcase::before {
        left: -3rem;
        top: -2.5rem;
    }
}

@media(max-width: 415px) {
    .showcase {
        background: var(--color-white);
        height: 50rem;
        width: 30rem;
        /* margin: 0 auto; */
        position: relative;
        box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.15);
    }

    .showcase::before {
        width: 35rem;
        left: 50%;
        top: -2.5rem;
        transform: translateX(-50%);
        display: none;
    }

    .showcase__info::before {
        content: "\0275D";
        position: absolute;
        font-size: 8rem;
        font-weight: bold;
        color: var(--color-grey);
        top: -1rem;
        left: 1rem;
    }
}